%h1
  = @record.name


- if @record.sound?
  %p
    %audio{src: sound_path(@record.sound), controls: true, autoplay: true}
      Your browser does not support the audio element

%ul.actions
  %li
    = link_to 'Edit', edit_path(@record)
  %li
    = link_to 'Destroy', @record, method: :delete, data: { confirm: 'Are you sure?' }
  %li
    = link_to 'Back', collection_path(@resource)
