%h1
  Showing key


%pre= @record.attributes.to_yaml

%ul.actions
  %li
    = link_to 'Edit', edit_path(@record)
  %li
    = link_to 'Destroy', @record, method: :delete, data: { confirm: 'Are you sure?' }
  %li
    = link_to 'Back', collection_path(@resource)
