!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title scube
    = csrf_meta_tag

  %body
    %header
      %nav
        %ul
          %li
            = link_to 'Scube', root_path
          %li
            = link_to 'Playlists', playlists_path

    = yield
